.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px;
}
.container svg{
    width: 80px;
    height: 80px;
    color: dodgerblue;
}
.message{
    margin: 20px 0px;
}
