.container{
    display: flex;
    flex-direction: column;
    margin:10px 0;
}
.header{
    font-size: 30px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.subHeader{
    margin-top: 5px;
    color: gray;
}